{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    <!-- Render homepage content from _index.md -->
    <section class="homepage-content" style="margin-bottom: 30px;">
        {{ .Content }}
    </section>

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
